@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees (full circle) */
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-up-down {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  50%,
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-10%);
  }

  to {
    transform: translateX(0);
  }
}
