@import './animation.scss';

.exp-edu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  font-family: 'syne';
  padding-block: 100px 150px;
}

.exp-edu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tabs {
  display: flex;
  gap: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 400;
  margin-block: 25px 50px;

  li {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 3rem;
    &:hover {
      opacity: 0.8 !important;
      transform: translateY(1px);
    }
  }
}

.swiper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.duration {
  color: #4d525b;
  font-size: 1rem;
}

.job-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 30px 15px;
  font-size: 1.125rem;
  color: #b3b6bb;

  li {
    position: relative;
    padding-left: 20px;
    line-height: 1.5;
  }

  li::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #27ba8e;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
  }
}
