@import './animation.scss';

/* Header CSS */
.header-wrapper {
  width: 100vw;
  height: var(--header-height);
  display: flex;
  position: fixed;
  background-color: var(--background);
  z-index: 99;
  box-shadow: 0px 1px 8px 0px var(--shadow);

  animation: slide-down 1s ease-in-out;
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    height: 60px;
  }
}

.header {
  width: 100%;
  font-family: 'kanit';
  display: grid;
  grid-template-columns: auto 30px 1fr auto;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.gmail-icon {
  position: relative;
  cursor: pointer;
  img {
    width: 25px;
    height: 25px;
  }

  &:hover {
    transform: translateY(1px);
  }

  &::before {
    content: attr(data-msg);
    position: absolute;
    bottom: -28px;
    right: -105%;
    color: #fff;
    white-space: nowrap;
    border-radius: 15px;
    padding: 5px;
    background-color: var(--shadow);
    color: #ccc;
    font-size: 0.7rem;
    display: none;
    transition: all 0.2s;
  }
  &:hover::before {
    display: block;
  }
}
/* Logo CSS */
.logo {
  grid-column: 1;
  font-family: 'Nosifer';
  color: var(--primary);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  width: 65px;
  height: 65px;

  img {
    width: 100%;
  }
}

/* Links CSS */
.links {
  display: flex;
  justify-content: center;
  gap: 4rem;
  grid-column: 3;
}

.links li {
  text-decoration: none;
  color: var(--shadow);
  font-size: 1.2rem;
  white-space: nowrap;
}

.links li a:hover,
.mob-links li a:hover {
  color: #777;
  transition: all 0.2s;
  transform: translateY(1px);
  transform: translateY(1px);
}

/* Icons CSS */
.icons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  grid-column: 4;
  margin-left: 20px;
}

.icon {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.icon:hover {
  opacity: 1;
  transform: translateY(1px);
}

/* custom */
@media screen and (max-width: 1290px) {
  .links {
    gap: 1.5rem;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .header {
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
  }

  .links {
    grid-column: 2;
    padding-left: 20px;
  }

  .links li {
    font-size: 1rem;
    white-space: nowrap;
  }

  .icons {
    grid-column: 3;
  }

  .logo {
    justify-self: center;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
  }

  .logo {
    justify-self: center;
    grid-column: 1;
  }

  .links {
    display: none;
    grid-column: 2;
  }

  .icons {
    display: none;
  }
}

/* mobile list */
.mob-links {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: absolute;
  right: -15px;
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  background-color: #000;
  border: solid 1px var(--primary);
  border-radius: 13px;
  z-index: 9;
  justify-content: center;
  width: 200px;
}

.mob-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.active {
  color: white;
}
